body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #212121 !important;
    color: #c4c4c4 !important;
}

/* Debian-like banner */

#banner {
    border-top: 1px solid black;
    background-image: url(../assets/banner.png);
    background-position: center left;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	overflow: hidden;
	height: 120px;
    margin: 10px;
}

#banner h1 {
    background-image: url(../assets/mobian.png);
    object-fit: fill;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 130px;
    overflow: hidden;
    text-align: center;
    background-repeat: no-repeat;
    display: block;
    margin: 0;
    height: 0;
}

/* Desktop navbar */
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
  }

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181 !important;
    display: block;
    text-align: left;
    transition: 100ms;
}
  
.sidenav a:hover {
    color: #818181 !important;
    opacity: 0.6;
    transition: 100ms;
}

/* Mobile navbar */
.mobnav {
    color: white !important;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    height: 7vh;
}



.main {
    margin-left: 300px; /* Same as the width of the sidenav */
}

.content {
    padding-top: 20px;
    padding-left: 50px;
    width: 50vw;
    margin: auto;
}

/* Text and other classes */

hr {
    background-color: white !important;
    opacity: 0.5 !important;
}

a {
    color: white !important;
    transition: 100ms;
}

a:hover {
    color: white !important;
    opacity: 0.6;
    transition: 100ms;
}


/* Mobile optimizations */

/* If on desktop */
@media screen and (min-width: 1027px) {
    /* Hide mobile display on desktop */
    .mobnav {
      display: none;
    }
  }

@media only screen and (max-width: 1026px) {
    
    h1 {
        font-size: 4vh !important;
        margin-bottom: 3vh !important;
    }
    
    h2 {
        font-size: 3.5vh !important;
        margin-bottom: 3vh !important;
        margin-top: 3vh !important;
    }
    
    p {
        font-size: 2.5vh !important;
        margin-bottom: 3vh !important;
    }

    li {
    font-size: 2.5vh !important;
    }
    
    h6 {
        font-size: 1.7vh !important;
        margin-bottom: 3vh !important;
        margin-top: 3vh !important;
    }
    
    .content {
        width: 100%;
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .main {
        margin: 0;
    }

    .sidenav {
        display: none;
    }
  
}